*/syn/*.asm.rpt
*/syn/*.done
*/syn/*.fit.rpt
*/syn/*.fit.smsg
*/syn/*.fit.summary
*/syn/*.flow.rpt
*/syn/*.jdi
*/syn/*.map.rpt
*/syn/*.map.smsg
*/syn/*.map.summary
*/syn/*.pin
#*/syn/*.sof
*/syn/*.sta.rpt
*/syn/*.sta.summary
*/source/db
*/syn/db/*
*/syn/greybox_tmp
*/syn/greybox_tmp/*
*/syn/incremental_db
*/syn/incrementa_db/*
*/syn/*.map
*/syn/*.qws
*/syn/PLLJ_PLLSPE_INFO.txt
*/syn/*.pof
*/syn/*.qdf
.DS_Store
*.vhd.bak